
@{
    ViewBag.Title = "TextBox";
}

<h2>TextBox Example</h2>

<div class="form-group">
    <input type="text" class="form-control" id="empty-textbox">
</div>
<div class="form-group">
    <input type="text" class="form-control" id="textbox" value="text here">
</div>
<div class="form-group">
    <input type="text" class="form-control textbox-without-id" value="No id">
</div>