
@{
    ViewBag.Title = "DropDownList";
}

<h2>DropDownList Example</h2>

<div class="form-group">
    <select class="form-control" id="companies">
        <option value="">Select an item</option>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>
</div>

<div class="form-group">
    <select class="form-control dropdown-without-id">
        <option value="">Select an item</option>
        <option value="twitter">Twitter</option>
        <option value="facebook">Facebook</option>
        <option value="instagram">Instagram</option>
    </select>
</div>