
@{
    ViewBag.Title = "CheckBox";
}

<h2>CheckBox Example</h2>

<div class="checkbox">
    <label><input type="checkbox" id="checkbox_checked" checked>Checkbox checked</label>
</div>
<div class="checkbox">
    <label><input type="checkbox" id="checkbox_unchecked" class="test">Checkbox unchecked</label>
</div>
<div class="checkbox disabled">
    <label><input type="checkbox" id="checkbox_disabled" disabled>Checkbox disabled</label>
</div>