
@{
    ViewBag.Title = "RadioButton";
}

<h2>RadioButton Example</h2>

<form action="">
    <div class="radio">
        <label><input type="radio" name="gender" value="m" id="gender_male">Male</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="gender" value="f" id="gender_female">Female</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="gender" value="o" id="gender_other">Other</label>
    </div>
</form>
