
@{
    ViewBag.Title = "Span";
}

<h2>Span Example</h2>

<span id="simple-span" class="label label-default">I am a simple span.</span>
<br /><br />
<span id="click-span">Click me.</span>
<br /><br />
<span class="label label-default span-without-id">I am a span without ID.</span>

@section scripts {

    <script>

        $("#click-span").click(function () {
            $(this).addClass("label label-success");
        });

    </script>

}